<nav class="navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Angular Learning App</a>
      <ul class="nav-links">
        <li>
          <a [routerLink]="['/exampless/angularbasics']"  routerLinkActive="active">Angular Basics</a>
        </li>
        <li><a [routerLink]="['/home']"  routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
      <div class="dropdown">
        <!-- <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Dropdown link
        </a> -->
        <a class="circle dropdown-toggle"  href="#"  id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">username</a>
      
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" (click)="logOut()" >Log Out</a></li>
          <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li> -->
        </ul>
      </div>
      <!-- <a class="circle">username</a> -->
    </div>
  </nav>
